*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* header{
    display:flex;
    background-image: url(Images/logo.png);
    background-size: 100px;
    background-repeat: no-repeat;
    height: 200px;
    margin-left: 50px;
    margin-top: 10px;
    

} */

header{
    display: flex;
    justify-content: center;
    background-color: #fcfcfc;
    height: 40px;
    width: 100%;
}

body {
    background-color: #0d0e12;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.wrapper {
    min-height: 100%;
    
    
    
    
}
